/* from demo.css */
.main .section:first-of-type {
    position: relative;
    z-index: 2;
}

/* header slideshow */
.page-header {
    background: black;
}

.page-header .image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slideshow 20s linear infinite;
}

.page-header .image:nth-of-type(1) {
    animation-delay: -1s;
}

.page-header .image:nth-of-type(2) {
    animation-delay: 3s;
}

.page-header .image:nth-of-type(3) {
    animation-delay: 7s;
}

.page-header .image:nth-of-type(4) {
    animation-delay: 11s;
}

.page-header .image:nth-of-type(5) {
    animation-delay: 15s;
}

@keyframes slideshow {
    0%, 25%, 100% {
        opacity: 0;
    }
    5%, 20% {
        opacity: 1;
    }
}

/* various fixes */
.footer .copyright {
    padding: 0;
    margin: 0;
}

@media (max-width: 992px) {
    .footer .credits {
        line-height: 1.1em;
        padding: 10px 15px;
    }
}

[class^="umwp-"], [class*=" umwp-"] {
    display: inline-block;
    vertical-align: middle;
}

.nav-tabs-navigation .nav-link {
    cursor: pointer;
}

/* guide */
.guide-item {
    margin-bottom: 2em;
    position: relative;
}

.guide-image {
    width: 96px;
    height: 96px;
}

.guide-item:not(:last-child)::before {
    content: '';
    position: absolute;
    bottom: -1.9em;
    left: 47px;
    height: 1.8em;
    width: 3px;
    border-radius: 1px;
    background: rgba(0, 0, 0, 0.05);
}