[class^='umwp-'], [class*=' umwp-'] { background-image:url('./umwp-sprite.png'); }
.umwp-lock { background-position:0 0; width:22px; height:16px; }
.umwp-unlock { background-position:-22px 0; width:22px; height:16px; }
.umwp-im_center { background-position:0 -16px; width:20px; height:16px; }
.umwp-im_custom { background-position:-20px -16px; width:20px; height:16px; }
.umwp-im_fill { background-position:-44px 0; width:20px; height:16px; }
.umwp-im_stretch_prop { background-position:-44px -16px; width:20px; height:16px; }
.umwp-im_stretch { background-position:0 -32px; width:20px; height:16px; }
.umwp-im_tile { background-position:-20px -32px; width:20px; height:16px; }
.umwp-about { background-position:-40px -32px; width:16px; height:16px; }
.umwp-add_color { background-position:0 -48px; width:16px; height:16px; }
.umwp-add { background-position:-16px -48px; width:16px; height:16px; }
.umwp-bug { background-position:-32px -48px; width:16px; height:16px; }
.umwp-bullet_green { background-position:-48px -48px; width:16px; height:16px; }
.umwp-bullet_lock { background-position:-64px 0; width:16px; height:16px; }
.umwp-bullet_red { background-position:-64px -16px; width:16px; height:16px; }
.umwp-bullet_yellow { background-position:-64px -32px; width:16px; height:16px; }
.umwp-clear { background-position:-64px -48px; width:16px; height:16px; }
.umwp-color { background-position:0 -64px; width:16px; height:16px; }
.umwp-config { background-position:-16px -64px; width:16px; height:16px; }
.umwp-cross { background-position:-32px -64px; width:16px; height:16px; }
.umwp-delete { background-position:-48px -64px; width:16px; height:16px; }
.umwp-disable { background-position:-64px -64px; width:16px; height:16px; }
.umwp-edit { background-position:-80px 0; width:16px; height:16px; }
.umwp-enable { background-position:-80px -16px; width:16px; height:16px; }
.umwp-export { background-position:-80px -32px; width:16px; height:16px; }
.umwp-folder_go { background-position:-80px -48px; width:16px; height:16px; }
.umwp-folder { background-position:-80px -64px; width:16px; height:16px; }
.umwp-help_color { background-position:0 -80px; width:16px; height:16px; }
.umwp-help { background-position:-16px -80px; width:16px; height:16px; }
.umwp-hide { background-position:-32px -80px; width:16px; height:16px; }
.umwp-house { background-position:-48px -80px; width:16px; height:16px; }
.umwp-images { background-position:-64px -80px; width:16px; height:16px; }
.umwp-import { background-position:-80px -80px; width:16px; height:16px; }
.umwp-mode_random { background-position:-96px 0; width:16px; height:16px; }
.umwp-mode_sequential { background-position:-96px -16px; width:16px; height:16px; }
.umwp-play_pause { background-position:-96px -32px; width:16px; height:16px; }
.umwp-quick { background-position:-96px -48px; width:16px; height:16px; }
.umwp-quit { background-position:-96px -64px; width:16px; height:16px; }
.umwp-refresh { background-position:-96px -80px; width:16px; height:16px; }
.umwp-settings { background-position:0 -96px; width:16px; height:16px; }
.umwp-w_desktop { background-position:-16px -96px; width:16px; height:16px; }
.umwp-w_monitor { background-position:-32px -96px; width:16px; height:16px; }
.umwp-broken-image { background-position:-48px -96px; width:14px; height:16px; }
