[class^='icon-'], [class*=' icon-'] { background-image:url('./sprite.png'); }
.icon-lock { background-position:0 0; width:22px; height:16px; }
.icon-unlock { background-position:-22px 0; width:22px; height:16px; }
.icon-im_center { background-position:0 -16px; width:20px; height:16px; }
.icon-im_custom { background-position:-20px -16px; width:20px; height:16px; }
.icon-im_fill { background-position:-44px 0; width:20px; height:16px; }
.icon-im_stretch_prop { background-position:-44px -16px; width:20px; height:16px; }
.icon-im_stretch { background-position:0 -32px; width:20px; height:16px; }
.icon-im_tile { background-position:-20px -32px; width:20px; height:16px; }
.icon-hide { background-position:-40px -32px; width:16px; height:16px; }
.icon-config { background-position:0 -48px; width:16px; height:16px; }
.icon-cross { background-position:-16px -48px; width:16px; height:16px; }
.icon-delete { background-position:-32px -48px; width:16px; height:16px; }
.icon-disable { background-position:-48px -48px; width:16px; height:16px; }
.icon-edit { background-position:-64px 0; width:16px; height:16px; }
.icon-enable { background-position:-64px -16px; width:16px; height:16px; }
.icon-export { background-position:-64px -32px; width:16px; height:16px; }
.icon-folder_go { background-position:-64px -48px; width:16px; height:16px; }
.icon-folder { background-position:0 -64px; width:16px; height:16px; }
.icon-help_color { background-position:-16px -64px; width:16px; height:16px; }
.icon-help { background-position:-32px -64px; width:16px; height:16px; }
.icon-add_color { background-position:-48px -64px; width:16px; height:16px; }
.icon-house { background-position:-64px -64px; width:16px; height:16px; }
.icon-about { background-position:-80px 0; width:16px; height:16px; }
.icon-add { background-position:-80px -16px; width:16px; height:16px; }
.icon-bug { background-position:-80px -32px; width:16px; height:16px; }
.icon-bullet_green { background-position:-80px -48px; width:16px; height:16px; }
.icon-bullet_red { background-position:-80px -64px; width:16px; height:16px; }
.icon-bullet_yellow { background-position:0 -80px; width:16px; height:16px; }
.icon-images { background-position:-16px -80px; width:16px; height:16px; }
.icon-import { background-position:-32px -80px; width:16px; height:16px; }
.icon-clear { background-position:-48px -80px; width:16px; height:16px; }
.icon-mode_random { background-position:-64px -80px; width:16px; height:16px; }
.icon-mode_sequential { background-position:-80px -80px; width:16px; height:16px; }
.icon-play_pause { background-position:-96px 0; width:16px; height:16px; }
.icon-quick { background-position:-96px -16px; width:16px; height:16px; }
.icon-quit { background-position:-96px -32px; width:16px; height:16px; }
.icon-refresh { background-position:-96px -48px; width:16px; height:16px; }
.icon-settings { background-position:-96px -64px; width:16px; height:16px; }
.icon-color { background-position:-96px -80px; width:16px; height:16px; }
.icon-w_desktop { background-position:0 -96px; width:16px; height:16px; }
.icon-w_monitor { background-position:-16px -96px; width:16px; height:16px; }
